<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.palladiosimulator.org/dataflow/confidentiality/dcp/dsl/pcm/PCMDFDConstraintLanguage"
			class = "org.palladiosimulator.dataflow.confidentiality.dcp.dsl.pcm.pCMDFDConstraintLanguage.PCMDFDConstraintLanguagePackage"
			genModel = "model/generated/PCMDFDConstraintLanguage.genmodel" />
	</extension>
</plugin>
